.container {
  background-color: white;
  text-align: center;
  border-radius: 10px;
   align-items: center;
   justify-content: center;
  display: flex;
  flex-direction: column;
  padding-right:20px;
  margin:10px;
  height:200px;
  width:250px;
}

.image {
  height: 100px;
  width: 100px;
}
